@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #fff2f3;
  --cream-color: #febc94;
  --deepblue-color: #252b42;
  --maroon-color: #a01a10;
  --lightgreen-color: #96ba7b;
  --lightgrey-color: #737373;
}

body {
  background-color: var(--light-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
